/* CustomCursor.scss */

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    cursor: none;
  
    .circle {
      height: 24px;
      width: 24px;
      border-radius: 24px;
      background-color: black;
      position: absolute;
      transform-origin: center;
      transition: transform 0.2s ease;
    }
  }
  